*{
    margin: 0;padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top{
    background-color: #1a2e44;
    color: white;
    text-align: center;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}



.nav{
    display: flex;
    height: auto;
    /* border: 1px solid black; */
    padding: 15px;
}
.menu{
    display: flex;
    width: 50%;
    /* border: 1px solid black; */
    justify-content: space-evenly;
    align-items: center;
    color: #1a2e44;;
}

.logo{
    width: 30%;
    /* border: 1px solid black; */
}
.logo>div{
    width: 30%;
    /* border: 1px solid black; */
    height: 100%;
    margin-left: 40px;

}

.login{
    display: flex;
    width: 20%;
    /* border: 1px solid black; */
    justify-content: space-evenly;
    align-items: center;
}

.login>button{
    padding: 5px 15px 5px 15px;
}
.login>button:nth-child(1){
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}
.login>button:nth-child(2){
    border:none;
    background-color: #22d172;
    color: white;
    border-radius: 5px;
}
#signup:hover{
    background-color: #3ee187;
    cursor: pointer;
    
}
#signin:hover{
    color: #4a6a8c;;
}

.pointer:hover{
    cursor: pointer;
}

.grey:hover{
    color: #4a6a8c;;
}

.dropdown1-content{
    display: none;
    height: auto;
    position: absolute;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 130px;
    left: 400px;
    /* border: 1px solid black; */
    color: #1a2e44;;
    width: 300px;
    padding: 20px;
    z-index: 1;
}
.dropdown1:hover .dropdown1-content {
    
     display: block;
    
}
   
.dropdown1-content>div{
    height: auto;
   /* border: 1px solid yellow; */
   display: flex;
   margin-top: 20px;
   margin-bottom: 20px;
}






.dropdown1-content>div>div:nth-child(1){
    
    width: 20%;
    /* border: 1px solid black; */
}

.dropdown1-content>div>div:nth-child(2){
   
    width: 80%;
    /* border: 1px solid red; */
    padding-left: 15px;
}
/* ////////////////////////// */

.dropdown2-content{
    display: none;
    height: auto;
    position: absolute;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 130px;
    left: 700px;
    /* border: 1px solid black; */
    color: #1a2e44;;
    width: 300px;
    padding: 20px;
    z-index: 1;
}
.dropdown2:hover .dropdown2-content {
    
     display: block;
    
}
   
.dropdown2-content>div{
    height: auto;
   /* border: 1px solid yellow; */
   display: flex;
   margin-top: 20px;
   margin-bottom: 20px;
}






.dropdown2-content>div>div:nth-child(1){
    
    width: 20%;
    /* border: 1px solid black; */
}

.dropdown2-content>div>div:nth-child(2){
   
    width: 80%;
    /* border: 1px solid red; */
    padding-left: 15px;
}



